<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.conreality.sdk.android">
  <application>
    <service android:name=".BeaconService"/>
    <service android:name=".HeadsetService"/>
    <service android:name=".PeerService"/>
    <service android:name=".PulseService"/>
  </application>

  <!-- See: https://developer.android.com/reference/android/Manifest.permission#BLUETOOTH -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
</manifest>
